.message-card{
  padding: 10px 5px;
  border-radius: 5px
}

.message-card p {
  width: 50%;
  padding: 10px;
  border-radius: 10px 2px 30px 10px;
  word-break: break-word;
  margin: 0;
  line-height: 1.2;
}

.sent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.sent p {
  background: #16d09c;
}

.received {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.received p {
  background: #EFEFEF
}