.container{
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 2px 2px 0.45em 0.45em rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.message-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: burlywood;
}

.message-name{
    display: flex;
    align-items: center;
}

.message-header figure{
    width: 60px;
    object-fit: cover;
    object-position: center;
    display: block;
    height: auto;
    margin: 0px 10px;
}

.message-header p {
    font-family: cursive;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.mail-link{
    padding: 10px;
}